// Font Import
@import 'https://fonts.googleapis.com/css?family=Oswald';

// Variables
/* $orfe-font: 'Oxygen', sans-serif; */
$orfe_conference_font: "Open Sans", sans-serif;
$breakpoint: 850px;
$orfe_conference_sitewidth: 1280px;
$orfe_conference_header_font: "Oswald", sans-serif;

body.one-sidebar.sidebar-first {
@media screen and (min-width: 851px){ #content {
margin-left: 19%;
}
}
}

.sidebar .section {
padding: 1em 0 0 0;
}

body { /* Begin body */

font-family: $orfe_conference_font;
font-size: 1em;
line-height: 1.6;
background: white;

// Elements

ul { /* Begin ul */
color: inherit;
li.leaf {
list-style-type: none;
list-style-image: none;
}
li.expanded {
list-style-type: none;
list-style-image: none;
}
} /* End ul */

p, table {
margin: 0;
}

caption {
margin: 1em 0 0.5em 0;
font-weight: bold;
}

tr, tr.odd {
background-color: white;
}

p + p {
margin-top: 1em;
}

tr td, tr th {
padding: 0.25em;
}

td {
white-space: normal;
}

h1, h2, h3, h4, h5, h6 {
margin: 0;
font-family: $orfe_conference_header_font;
}

p + h2, ul + p, p + h3 {
margin-top: 1em;
}

input, textarea, select, a {
font-family: inherit;
}

label {
margin-bottom: 0.25em;
}

fieldset legend {
font-family: inherit;
text-shadow: none;
color: inherit;
font-weight: bold;
}

table {
font-family: inherit;
font-size: 1em;
}

a {
color: #004d79;
}

ul + h2, ul + h3, h2 + h3, h3 + p, div + h3 {
margin-top: 1em;
}

// Classes

.view-release-block-view {
color: lightgray;
}

.flexslider {
border: none;
margin: 0;
}

.slides ul {
padding: 0;
}

.zoomin {
	font-size: 2em !important;
	margin-bottom: 1em !important;
	text-align:center;
}

.capitalize {
text-transform: capitalize;
}

.mean-container {
.mean-bar {
background: #818285;
float: none;
margin: 0 0 1em 0;
}
.mean-nav ul li a {
text-transform: none;
}

.mean-nav {
background: #818285;
}
}

.breadcrumb {
display: none;
}

.featured #messages {
background: white;
}

.section, .region, .block .content {
padding: 0;
margin-top: 0;
}

.tabs {
font-family: inherit;
margin-bottom: 1em;
}

.container-inline-date > .form-item {
margin-right: 0;
}

.meta.submitted, .views-field-created, .views-field-field-advertised-positions {
color: gray;
font-style: italic;
margin-bottom: 1em;
}

ul.menu li {
margin: 0;
}

.menu {
list-style-type: none;
margin: 0;

ul li a, .item-list ul li {
padding: 0;
}
ul li {
margin: 0;
}

ul li>ul li {
margin: 0;
}
}

.sidebar {
.block {
border: none;
padding: 0;
margin: 0;
.content {
font-size: 1em;
}
}
}

.field-name-body {
ul, ol {
margin: 1em 0 0 1em;
}
}

.item-list ul li {
margin: 0 0 0 1em;
}

.node .content, .form-select {
font-size: inherit;
}

.logged-in .tabs {
margin-bottom: 1em;
}

.form-item { /* Begin .form-item */
margin: 1.5em 0 1.5em 0
label {
font-size: inherit;
}
} /* End .form-item */


.view-advisory-council .views-row {
margin: 2em 0 1em 0;
}

.placeholder_photo {
max-width: 150px;
}

.advisory-council-member-photo {
padding: 1em 1em 0 0;
float: left;
}

.advisory-council-member-name {
font-size: 1.25em;
}

.advisory-council-member-title {
color: #68696b;
font-size: 1em;
font-style: italic;
margin-bottom: 1em;
}

.field-name-field-speaker {
        font-size: 1.8em;
}

.field-name-field-institution {
        font-size: 1.4em;
        margin-bottom: 1em;
}

.views-row {
margin: 1em 0 1em 0;
}

.webform-client-form {
margin: 1em 0 0 0;
}

.fieldset-wrapper {
margin-top: 2em;
.form-item {
margin: 0.25em 0 0.25em 0;
}
}

.field-name-field-related-url {
margin: 1em 0 1em 0;
}

.view-about p {
	padding: 0 1em 0 1em;
}

// Structure

#page-wrapper { /* Begin #page-wrapper */
background: white;
min-width: 370px;



} /* End #page-wrapper */

#branding { /* Begin #branding */

border-bottom: 1px solid #cccccc;

p>a {
background: url("../images/princeton-university-logo.png") no-repeat 50% 50%;
background-size: 296.66667px 24.66667px;
display: block;
// height: 40px;
text-indent: -999em;
min-width: 300px;
text-align: left;
padding: 1em 0 1em 0;


}

h1 a {
height: 40px;
}

.section { /*Begin .section within #branding */
margin: 0 auto;
max-width: 1290px;
padding: 0 1em 0 1em;

} /* End .section within #branding */

#block-princeton-university-logo {
float: left;

@media screen and (max-width: 640px) {
float: none;
}
}

#block-search { /* Begin #block-search within #branding */

float: right;
margin-bottom: 0;
padding-bottom: 0;
padding-top: 0.5em;

input.form-text {
width: 300px;
}


@media screen and (max-width: 640px) {
float: none;
width:100%;

input.form-text {
width: 82%;
}

.container-inline .form-actions {
margin-left: 0.5em;
}

}

} /* End #block-search within #branding */

} /* End #branding */

#header { /* Begin #header */
/* background-image: -webkit-linear-gradient(top, #000000 0%, #525252 100%);
background-image: -moz-linear-gradient(top, #000000 0%, #525252 100%);
background-image: -ms-linear-gradient(top, #000000 0%, #525252 100%);
background-image: -o-linear-gradient(top, #000000 0%, #525252 100%);
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #000000), color-stop(1, #525252));
background-image: linear-gradient(top, #000000 0%, #525252 100%); */
max-width: $orfe_conference_sitewidth;
// min-height: 170px;
margin: auto;
/* margin-bottom: 0.75em; */
/* margin-bottom: 0; */
/* padding: 0 1em 0 1em; */

div.section {
max-width: 100%;
}

#logo { /* Begin #logo within #header */
max-width: 45%;
max-height: 70px;
min-width: 350px;
padding: 1em 0 0 0;

@media screen and (max-width: 640px) {
max-width: 95%;
}

} /* End #logo within #header */

#name-and-slogan {
width: 99%;
text-align: center;
padding: 0;
margin: 0;
}

#site-slogan {
font-size: 1.25em;
margin-top: 0;
}



#name-and-slogan, #site-name a{
color:black;

/* span::before, span::after {
content: url('/sites/orfe.princeton.edu.conferences.seniorsym/themes/ORFEx_seniorsym/images/princeton-shield-inline-small.png')
} */

#site-name a {
    font-family: $orfe_conference_header_font;
    border-bottom-width: 12px;
    border-bottom-style: solid;
    //border-bottom-color: rgba(249,165,29,1);
    border-bottom-color: #f68026;
    line-height: 1.8em;
/* text-transform: uppercase; */
 font-size: 38px;
 display:block; 
}

}


} /* End #header */

#headerwell { /* Begin #headerwell */

#block-graduate-menu-block, #block-undergraduate-menu-block, #block-research-menu-block, #block-people-menu-block {
background-color: #818285;
}

#block-main-menu-expansion-block, #block-main-menu-block, .graduate.menu, .undergraduate.menu, .research.menu, .people.menu { /* Begin #block-main-menu-block within #headerwell */
clear:both;
width: 100%;
/* background-color: #525355; */
/* background-color: #fefefe; */
background-color: lightgray;
/* padding: 1.5rem 0 1.5rem 0; */

a {
padding: 0 1.5rem 0 0;
/* color: #ffffff; */
/* color: #004d79; */
color: black;
font-size: 1.1em;
font-weight: bold;
text-decoration: underline;
}

a.active {
/* color: rgb(201, 201, 201); */
/* color: #5c79d7; */
/* color: rgba(249,165,29,1); */
color: black;
}

a.visited {
}

ul li {
display: inline;
vertical-align: middle;
}

ul {
margin: 0;
padding: 0.75em 0 0.75em 0;
text-align: center;
}

ul>li {
margin:0;
padding:0;
}

} /* End #block-main-menu-block within #headerwell */

#block-administration-menu-block { /* begin #block-administration-menu-block */

border: 1px solid #be7;
background-color: rgb(248, 255, 241);
width: 100%;

ul li a {
padding: 0 0.5em 0 0;
color: gray;
font-size: 1.1em;
}

ul li a.active {
color: rgb(81, 38, 6);
}

ul li {
display: inline;
vertical-align: middle;
}

ul {
        margin: 0;
        padding: 0.5em 0 0.5em 0;
        text-align: center;
}

ul>li {
        margin:0;
        padding:0;
}



} /* End #block-administration-menu-block */

#block-system-help {
}

} /* End #headerwell */

#messages { /* Begin #messages */

padding: 0;

div.messages {
margin: 1em;
}

} /* End messages */

#featured { /* Begin #featured */

text-align: inherit;
padding: 0;
background: none;
border-bottom: none;
text-shadow: none;
font-size: 1em;

div.section { /* Begin div.section within #featured */
max-width: initial;
width: initial;
margin: initial;
}

#block-spotlight { /* Begin #block-spotlight */

.flexslider {
margin: 0;
border: none;
}

ol, ul {
padding: 0;
}

@media screen and (min-width: 768px) { /* Begin width query for Spotlight pager */
// Only show squares over 768px.

.flex-control-paging li a {
background-image: url(/sites/all/themes/ORFEx/images/pager-square.png);
width: 28px;
height: 23px;
-webkit-border-radius: 0;
-moz-border-radius: 0;
border-radius: 0;
}

.flex-control-paging li a.flex-active {
background-image: url(/sites/all/themes/ORFEx/images/pager-square-active.png);
width: 28px;
height: 23px;
}

// Squares spacing.

.flex-control-nav li {
margin: 0 1em 1em 0;
}

.flex-control-nav.flex-control-paging {
margin: 0 0 0 1em;
}

} /* End width query for Spotlight pager */

.flex-control-nav.flex-control-paging {
position: initial;
margin: 1em 0 0 1em;
}

// Arrow height.
.flex-direction-nav a {
min-height: 45px;
}

.views-field-body { 
padding: 0;
margin-top: 1em;

@media screen and (max-width: 1290px) {
}

}

.view-header {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.9);
    z-index: 200;
    font-size: 1.2em;
    padding: 0.5em;
}

.views-field-title {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.9);
    z-index: 200;
    font-size: 1.2em;
    margin: -2.36em 1em 0 0;
    padding: 0.5em;
    width: 100%;

@media screen and (max-width: 640px) {
    background-color: white;
    padding: 0;
    font-size: 1.1em;
    white-space: nowrap;
    text-overflow: elipsis;
    margin: -1em 0 0 0;
}
}


} /* End #block-spotlight */

} /* End #featured */

#main-wrapper { /* Begin #main-wrapper */

min-height: 200px;
max-width: $orfe_conference_sitewidth;
margin: auto;

@media screen and (max-width: 860px) {
}


#main { /* Begin #main */


#block-about-block {
margin-top: 1em;
margin-bottom: 1em;
}

margin: auto;

@media screen and (max-width: 860px) {
margin: 0;
}

#content { /* Begin #content */

#highlighted {
	border-bottom: none;

.view-display-id-carousel_photo_block {
	max-width: 360px;
	margin: auto;

ul {
	padding: 0;
}

} // End .view-display-id-carousel_photo_block
} //End #highlighted

@media screen and (max-width: 1290px) {
// margin: 1em;
margin: auto;
}

@media screen and (min-width: 1290px) {
// margin: 1em 1em 1em 0;
margin: auto;
}


.section {
padding: 0;
}

h1, h1#pagetitle {
text-align:center;
text-transform: uppercase;
line-height: 1.42;
font-size: 38px;
font-weight: 400;
margin-bottom: 1em;
font-family: $orfe_conference_header_font;
}

h2 { /* Begin h2 within #content, #main-wrapper */
font-size: 1.1em;
border-bottom: 1px solid gray;
margin-bottom: 1em;
text-transform: uppercase;
font-family: "Oswald", sans-serif;
} /* End h2 within #content, #main-wrapper */

h3 { /* Begin h3 within #content, #main-wrapper */
font-size: 1em;
margin-bottom: 0;
font-weight: bold;
} /* End h3 within #content, #main-wrapper */

h4 { /* Begin h4 within #content, #main-wrapper */
margin: 1em 0 1em 0;
font-style: italic;
} /* Begin h4 within #content, #main-wrapper */

#block-external-job-sites {
}

#block-welcome-to-orfe, #block-message-from-the-chair { /* Begin #block-message-from-the-chair */

.views-row {
margin: 0;
}

.chair-photo {
float: left;
margin: 0 1em 0 0;
}

@media screen and (max-width: 640px) {
.chair-photo {
float: none;
text-align: center;
margin: 1em 0 1em 0;
}
}

} /* End #block-message-from-the-chair */

#block-main-content {
}

#block-financial-mathematics-research-collaborations {
}

#block-financial-mathematics-research-groups {
}

#block-financial-mathematics-faculty {
}

#block-machine-learning-research-groups {
}

#block-machine-learning-faculty {
}

#block-operations-research-research-groups {
}

#block-operations-research-faculty {
}

#block-optimization-research-groups {
}

#block-optimization-faculty {
}

#block-probability-research-groups {
}

#block-probability-faculty {
}

#block-statistics-research-groups {
}

#block-statistics-faculty {
}

#block-faculty-quick-reference {
}

#block-visitors-quick-reference {
}

#block-researchandtechnicalstaff-quick-reference {
}

#block-administrativestaff-quick-reference {
}

#block-conferencerooms-quick-reference {
}

#block-department-officers {
margin: 1em 0 1em 0;
}

#block-studentcouncil-upcoming-events {
}

#block-computing-help {
}

#block-other-help {
}

#block-policies-help {
}

#block-procedures-help {
}

#block-student-help {
}

#block-webform-submit-reservation {
}

#block-submit-webform-facilities {
}

} /* End #content */

#sidebar-first { /* Begin #sidebar-first */

background-color: transparent;
font-size: inherit;
width: 21%;
margin-left: -102%;

@media screen and (max-width: 860px) {
width: 100%;
margin-left: 0;
}


#block-academics-menu-block {
}

#block-research-menu {
}

#block-people-menu-block {
}

#block-events-menu-block {

ul>li {
margin-bottom: 0;
}
}

#block-about-menu-block {
}

} /* End #sidebar-first */

.region-diptych-first, .region-diptych-second {
	float: left;
	width: 50%;
}

} /* End #main */


} /* End #main-wrapper */

#triptych-wrapper { /* Begin #triptych-wrapper */
max-width: $orfe_conference_sitewidth;
margin: auto;
background-color: white;
background: white;
border-top: none;

#triptych { /* Begin #triptych within #triptych-wrapper */
/* background: rgba(0, 0, 0, 0.04); */
/* background-color: #f0f0f0; */
background-color: white;
padding: 1em 0 1em 0;

.block, .menu, .content {
text-align: center;
line-height: 1.5em;
border-bottom: none;
}

h2 {
color: inherit;
margin-bottom: inherit;
text-shadow: none;
text-align: inherit;
line-height: inherit;
}

#block-programs-menu-block { /* Begin #block-programs-menu-block within #triptych, #triptych-wrapper */
} /* End #block-programs-menu-block within #triptych, #triptych-wrapper */

#block-employment-opportunities-block {
}

#block-upcoming-events { /* Begin #block-upcoming-events within #triptych, #triptych-wrapper */
} /* End #block-researchareas-menu-block within #triptych, #triptych-wrapper */

#block-upcoming-conferences { /* Begin #lock-upcoming-conferences */
li {
margin: 1em 0 1em 0;
}
} /* End #block-upcoming-conferences */

#block-researchareas-menu-block { /* Begin #block-researchareas-menu-block within #triptych, #triptych-wrapper */
} /* End #block-researchareas-menu-block within #triptych, #triptych-wrapper */

} /* End #triptych within #triptych-wrapper */
} /* End #triptych-wrapper */

#footer-wrapper { /* Begin #footer-wrapper */
max-width: $orfe_conference_sitewidth;
margin: auto;
background: white; 
padding: 0;
/* color: #fcfcfc; */
font-family: inherit;
font-size: inherit;
margin-top: 1em;

a, a:active, a:hover {
color: #004d79;
}

.block {
margin: 0;
padding: 0;
@media screen and (max-width: 640px) {
text-align: center;
}
}

#footer-columns { /* Begin #footer-columns */
.block {
border: none;
text-align: center;
}

.region-footer-fourthcolumn { /* Begin .region-footer-fourthcolumn within #footer-columns, #footer-wrapper */
margin: auto;
float: right;

@media screen and (max-width: 640px) { /* Begin centering the Facebook logo on narrow displays. */
margin: auto;
float: none;
} /* End centering the Facebook logo on narrow displays.
} /* End .region-footer-fourthcolumn within #footer-columns, #footer-wrapper */ 


#block-facebook-logo { /* Begin #block-facebook-logo within #footer-columns */
max-width: 50px;
padding-top: 10px;
float: right;

@media screen and (max-width: 768px) {
float: none;
margin: auto;
}

} /* End #block-facebook-logo within #footer-columns */
} /* End #footer-columns */

#footer { /* Begin #footer within #footer-wrapper */
margin-top: 0;
border-top: none;


.block {
clear: none;
padding: 1em 0 1em 0;
}
}

#block-user-menu-block { /* Begin #block-user-menu-block within #footer, #footer-wrapper */
        color: black;
} /* End #block-user-menu-block within #footer, #footer-wrapper */

} /* End #footer within #footer-wrapper */

#engineeringsignature { /* Begin #engineeringsignature within #footer-wrapper */
width: 20%;
min-width: 225px;
margin-left: -20px;

@media screen and (max-width: 640px) {
margin: 0;
width: 100%;
}


} /* End #engineeringsignature within #footer-wrapper */

} /* End #footer-wrapper */

} /* End body */

// Exceptions

body.node-type-speaker { /* Begin body.node-type-speaker */
#page-title {
display:none;
}
ul {
list-style-type:none;
}
} /* End body.node-type-speaker */

.page-home {
.tabs {
display: none;
}
}

/* Begin body.page-user-edit */
body.page-user-edit, body.page-user-me-edit {
#user-profile-form {
margin-top: 2em;
.restrict-by-ip, .form-item-cas-name, #edit-profile-display-options-redirect {
display: none;
}
}
}
/* End body.page-user-edit */


/* Begin body.one-sidebar exception */

@media screen and (min-width: 851px) {
body.one-sidebar #content {
padding-left: 25%;
}
}

/* End body.one-sidebar exception */


body.page-research { /* Begin body.page-research */

a {
text-transform: capitalize;
}

} /* End body.page-research */

body.page-events {
.view-header, ul>li {
margin-bottom: 1em;
}
}

body.page-news-spotlight {
.views-row {
margin-bottom: 5em;
}
.views-field-title {
margin-top: 1em;
}
}

body.node-type-abstract { /* Begin body.node-type-abstract */
.field-name-field-speaker-vocabulary-term {
font-size: 1.5em;
}
.field-name-field-institution {
font-size: 1.3em;
}
} /* End body.node-type-abstract */

body.page-people, body.page-research { /* Begin body.page-people, body.page-research */

@media screen and (max-width: 860px) {
.block ul {
padding: 0;
}
.item-list ul li {
margin: 0;
}
}

.contact-card {
  float: left;
  list-style: none;
  width: 46%;

@media screen and (max-width: 1024px) {
float: none;
list-style: none;
width: 100%;
padding: 0 0 5% 0 !important;
}

@media screen and (max-width: 860px) {
padding: 0 0 5% 0 !important;
}


}

.contact-card {
  min-height: 15em;
margin-bottom: 1em;
}

.item-list ul li .views-field-picture {
  float: left;
  padding: 0 1em 0 0;
}

.view-people.faculty .views-field-field-researchicon ul li {
  clear: none;
  float: left;
  list-style-type: none;
  margin: 0 0.25em 0 0.25em;
  padding: 0;
}

} /* End body.page-people */

body.page-people-faculty-slideshow, body.page-events-atrium { /* Begin body.page-events-atrium and body.page-events-atrium  */
#branding, #header, #headerwell, .mean-bar, #sidebar-first, #footer-wrapper {
display: none;
}

#page-wrapper {
background: white;
}

#main-wrapper #main {
margin: 0;
#content {
h1, h1#pagetitle {
font-size: 2em;
}
}
}

#content {
margin-left: 0;
width: 100%;
background-color: transparent;
}

} /* End body.page-events-atrium and body.page-events-atrium */

body.page-events-atrium { /* Begin body.page-events-atrium */
margin-top: 1em;

.event {
font-size: 1.375em;
}

} /* End body.page-events-atrium */

body.page-spotlight-atrium { /* Begin .page-spotlight-atrium */

#block-search, #headerwell, #footer {
display: none;
}

#main {
min-width: 1920px;
}

#main-wrapper {
margin: 0;
min-height: unset;
}

#header div.section, #branding .section {
max-width: inherit;
}

#header {
height: 110px;
max-height: inherit;
}

.views-field-title {
font-size: 2em;
}

.views-field-body {
font-size: 1.5em;
}

} /* End .page-spotlight-atrium */


body.page-people-faculty-slideshow { /* Begin body.page-people-faculty-slideshow */

background-color: black;

#branding, #header, #headerwell, .mean-bar, #sidebar-first, #footer-wrapper {
display: none;
}

#page, #main-wrapper {
background: white;
color: black;
margin: 0;
}

#main {
max-width: inherit;
}

#content {
h1 {
color: black;
position: absolute;
z-index: 10;
}
h1#pagetitle {
margin: 0.5em 0 0 0.5em;
}

}



.views_slideshow_cycle_slide {
width: inherit;
}

.views-row {
float: left;
max-width: 284px;
text-align: center;
margin: 0.5em 0 0 0;
}

.faculty-picture img {
height: 426px;
max-height: 426px;
width: 290px;
max-width: 290px;
}

} /* End body.page-people-faculty-slideshow */


#views-exposed-form-graduate-employment-page {
label {
font-weight: normal;
font-size: 1.1em;
border-bottom: 1px solid gray;
margin-bottom: 1em;
}
}
